@model BoardgameNight.Web.Models.BoardgameNightIndexViewModel

<h1>Boardgame Nights</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Your Organized Nights</h2>
<partial name="_BoardgameNightList" model="Model.OrganizedNights" />

<h2>Nights You're Participating In</h2>
<partial name="_BoardgameNightList" model="Model.ParticipatingNights" />

<h2>All Boardgame Nights</h2>
<partial name="_BoardgameNightList" model="Model.AllNights" />